h2, h4, button {
	font-family: Ubuntu, "Open Sans", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

a,
a:visited,
.string,
.number,
.boolean,
.null { 
	color: #448aff;
	font-size: 14px;
}

.key { 
	color: #ff5722;
	font-size: 14px;
}

#content {
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    width: 980px;
}

.row {
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    width: 100%;
}

.centered {
    text-align: center;
}

.list {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
}

.list > li {
	margin-bottom: 5px;
}

#result {
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 530px;
    margin: 25px 0 0 0;
    overflow-y: scroll;
    padding: 15px;
    white-space: pre;
}